<h1 matDialogTitle>Edit Item</h1>
<mat-dialog-content>
  <mat-form-field>
    <input matInput [(ngModel)]="item.name" />
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close color="accent">Cancel</button>
  <button
    mat-button
    [mat-dialog-close]="{ action: 'save', tag: this.item }"
    color="primary"
  >
    Save
  </button>
  <button
    mat-button
    [mat-dialog-close]="{ action: 'delete', tag: this.item }"
    color="warn"
  >
    Delete
  </button>
</mat-dialog-actions>
