div.container {
  height: 100%;
  margin: 0 auto;
  max-width: 1128px;
  padding: 10px;
  div {
    border: 1px solid darkgray;
    border-radius: 20px;
    padding: 10px;
  }
}

mat-list-item {
  cursor: pointer;
  &.active {
    background-color: rgba(0, 0, 0, 0.2);
    &:hover {
      background-color: rgba(0, 0, 0, 0.3);
    }
  }
  &:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }
}

mat-list {
  overflow: auto;
}

:host ::ng-deep mat-list-item > div {
  width: 100%;
}
